.main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.main div p{
    font-size: 1rem;
    text-align: center;
}

.main div button{
    width: 9rem;
    height: 3rem;
    margin: 0.7rem;
    border: 2px solid purple;
    background-color: purple;
    color: white;
    border-radius: 1rem;
}
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .main div button {
        width: 100%; 
        margin: 0.5rem 0; 
    }
    .main div h2{
        text-align: center;
    }
}
