
.maindiv {
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: 5rem auto; 
    padding-top: 2rem;
  }
  
  .maindiv div{
    margin: 0.5rem;
  }
  .img {
    width: 100%; 
    height:15.5rem; 
    border-radius: 1rem;
  }
  

  @media (max-width: 768px) {
    .maindiv {
      flex-direction: column; 
    }
  }
  