/* Default styles */
.main {
    width: 100%;
    margin: 3rem auto;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.img {
    width: 13rem;
    height: auto;
}

.span p {
    margin-top: -1rem;
    margin-left: 2rem;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form {
    margin-bottom: 20px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: purple;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(152, 3, 152);
}

.logo {
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 90%;
    }
}
